// Media Queries

@media screen and (max-width: 940px) {
    // header
    .container {
        .row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 42px;
            text-align: center;
        }

        h2 {
            font-size: 15px;
            text-align: center;
        }

        .button {
            font-size: 15px;
            text-align: center;
            justify-content: center;
            margin-bottom: 40px;
            height: 43px;

        }

        img {
            width: 60%;
            margin-top: 20px;
        }
    }

    // About Me
    .intro_wrapper {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-areas:
            'top'
            'left'
            'right'
        !important;
    }

    .right_column {
        justify-content: center;
    }
    #dot_one {
        background-color: red;
    }

    // Skills
    .tech {
        grid-template-columns: repeat(3, 1fr) !important;
    }


    // Projects
    .project_container {
        grid-template-columns: repeat(2, 1fr) !important;

        .project_one {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 680px) {

    // Skills
    .tech {
        grid-template-columns: repeat(2, 1fr) !important;

        div {
            max-width: 350px;
        }
    }

    // Projects
    .project_container {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}