@import '../../variables.scss';

.contact {
    .contact_container {
        h1 {
            text-align: center;
            font-size: 56px;
            // text-align: center;
            font-weight: 500;
        }
    }

    #contact_form {
        display: block;
        max-width: 600px;
        margin: 0 auto;
        border: 1px solid pink;
        padding: 15px;
        border-radius: 5px;
        background-color: $BackgroundColorSecond;
        margin-bottom: 50px;

        label {
            line-height: 2.7em;
        }

        textarea {
            min-height: 100px;
            font-size: 14px;
        }

        .input_field {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: lightcyan;
            border-radius: 5px;
            border: 1px solid pink;
            font-size: 14px;
        }

        #submit_btn {
            margin-top: 10px;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
            background-color: $buttonColor;
            opacity: 0.8;
            border: none;
            font-weight: 900;

            &:hover {
                cursor: pointer;
                opacity: 1;
                // color: orange;
            }

        }
    }
}