.contact .contact_container h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 500;
}
.contact #contact_form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid pink;
  padding: 15px;
  border-radius: 5px;
  background-color: #282a39;
  margin-bottom: 50px;
}
.contact #contact_form label {
  line-height: 2.7em;
}
.contact #contact_form textarea {
  min-height: 100px;
  font-size: 14px;
}
.contact #contact_form .input_field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightcyan;
  border-radius: 5px;
  border: 1px solid pink;
  font-size: 14px;
}
.contact #contact_form #submit_btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #c1c1c1;
  opacity: 0.8;
  border: none;
  font-weight: 900;
}
.contact #contact_form #submit_btn:hover {
  cursor: pointer;
  opacity: 1;
}