@import '../../variables.scss';

.footer {
    background-color: $BackgroundColorSecond;
    padding: 40px 0;

    .social {
        text-align: center;
        padding-bottom: 25px;
        color: white;

        a {
            font-size: 24px;
            color: inherit;
            border: 1px solid #ccc;
            width: 40px;
            height: 40px;
            line-height: 38px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin: 0 8px;
            opacity: 0.75;
            transition: 0.3s;

            &:hover {
                opacity: 1;
                color: orange;
                transform: translate(0, -10px);
            }
        }
    }
    .list {
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;

        li {
            display: inline-block;
            padding: 0 15px;

            a {
                color: inherit;
                text-decoration: none;
                opacity: 0.8;
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                    color: orange;
                    cursor: pointer;
                    transform: translate(0, -10px);
                }

                i {
                    font-size: 40px;
                    transition: 0.3s;
                    &:hover {
                        color: orange;
                        cursor: pointer;
                        transform: translate(0, -10px);
                    }
                }
            }
        }

    }
    .copywright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
    }
}